* {
    box-sizing: border-box;
  }

/* Including multiple fonts in case the user doesn't have one */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    display: flex; 
    flex-direction: column;
    margin: 50px 50px 50px 50px;
}

/* Giving the header characteristics that make it stand out. Giving the children elements padding. */
header {
    display: flex;
    justify-content: space-between;
    background-color: #13293d;
    color: #fff;
    padding-left: 15px; 
    padding-top: 15px;
    padding-bottom:15px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

section .top {
    font-size: 150%;
}

/* Makes the ul list horizontal */
nav ul {
    display: flex;
    flex-direction: row;
    
}

/* Adds a margin to each listed item, so that there is space between each option */
nav li {
    margin-right: 20px;
    text-decoration: underline;
    text-decoration-thickness: 10px;
}

/* Class I assigned to the navigation bar, so that I could change the color of the text and give it my own decoration */
.top {
    text-decoration: none;
    color: white;
}

/*Header picture */
.picture1 {
    width: 100%;
    height: auto;
    background-size: 30%;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

section h1 {
    display: flex;
    justify-content: start;
    font-size: 200%;
    margin-bottom: 20px;
    background: cornflowerblue;
    max-width: 100%;
    color: white;
}

.profileimage {
    margin-top: -20px;
    width: 20%;
    height: auto;
    align-items: center;
    float: right;
}

p {
    margin: 0px 250px 0px 250px;
}
/* .applicationstag {
    display: flex;
    flex-wrap: wrap;
} */

/* First application photo */
.headimage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: none;
    height: auto;
    border: solid black;
    border-width: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.work {
    position: relative;
    text-align: center;
    color: white;
}

.works {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 50px;
    background: rgb(54, 72, 105);
    padding: 10px;
    margin-bottom: 10px;
}

.apps1 {
    position: relative;
    text-align: center;
    color: white;
    /* Make the width of box same as image */
}

.apps1 .text1 {
    position: absolute;
    top: 170px;
    left: 65px;
    font-size: 15px;
    background: rgb(54, 72, 105);
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}

.apps1 .text2 {
    position: absolute;
    top: 236px;
    left: 348px;
    font-size: 15px;
    background: rgb(54, 72, 105);
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}

.apps1 .text3 {
    position: absolute;
    top: 236px;
    left: 631px;
    font-size: 15px;
    background: rgb(54, 72, 105);
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}

.apps1 .text4 {
    position: absolute;
    top: 128px;
    left: 914px;
    font-size: 15px;
    background: rgb(54, 72, 105);
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}

a .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    height: auto;
    margin: auto;
    margin-left: 50px;
    float: left;
    padding: 5px;
    border: solid black;
    border-width: 10px 10px 10px 10px;
}

div .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 300px;
    margin-left: 300px;
}

div li {
    display: flex;
    text-decoration: underline rgb(54, 72, 105);
    text-decoration-thickness: 15px;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    color: black;
    padding-top: 50px;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
header, main {
    display: flex;
    flex-direction: column;
    }

    /* section {
    padding-right: 0;
    } */

    /* .applicationstag {
        width: 100%
    } */
}
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    /* Change the header color */
    
    a .image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 20%;
        height: auto;
        margin: auto;
        margin-left: 50px;
        float: left;
        padding: 5px;
        border: solid black;
        border-width: 10px 10px 10px 10px;
    }
  }
  


@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
}

