/* Including multiple fonts in case the user doesn't have one */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    /* display: flex; 
    flex-direction: column; */
    margin: 50px 50px 50px 50px;
    background-color: beige;
    /* width: 50%; */
}


/* Giving the header characteristics that make it stand out. Giving the children elements padding. */
header {
    display: flex;
    justify-content: space-between;
    background-color: #13293d;
    padding-left: 15px; 
    padding-top: 15px;
    padding-bottom:15px;
    text-align: center;
    font-size: 100%;
}


/* Makes the ul list horizontal */
nav ul {
    display: flex;
    flex-direction: row; 
}


/* Adds a margin to each listed item, so that there is space between each option */
nav li {
    margin-right: 20px;
    text-decoration: underline;
    text-decoration-thickness: 10px;
}

a {
    text-decoration: none;
    color: white;
}


/*Header picture */
.mainpic {
    width: 100%;
    height: auto;
    background-position: center;
    padding-bottom: 20px;
}

section h1 {
    display: flex;
    /* justify-content: start; */
    font-size: 200%;
    margin-bottom: 20px;
    background: cornflowerblue;
    max-width: 100%;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.profileimage {
    margin-top: 10px;
    width: 14%;
    margin-right: 60px;
    height: auto;
    float: right;
}


/* organizing the layouts of paragraphs */
section .aboutmep {
    margin: 0px 200px 25px 200px
}

section .me {
    margin: 0px 250px 25px 50px;
}

.br {
    display: block;
    margin-bottom: 1em;
}

section #muvd {
    margin: auto;
    width: 75%;
}


/* First application photo */
.headimage {
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid black;
    border-width: 10px 10px 10px 10px;
}

.work {
    padding-bottom: 60px;
} 

.work p {
    text-align: center;
    font-size: 50px;
    margin: auto;
    padding: 1rem;
    /* margin-top: -80px;  */
    color: black;
}

.image {
    width: 50%;
}


/* Displays applications in a row under the main application */
.products {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;
}

.applicationstag {
    flex: 0 0 200px;
}

.products p {
    text-align: center;
    font-size: 20px;
    /* margin-top: -52px; */
    color: black;
}

.products img {
    width: 100%;
    border: solid black;
    border-width: 5px;
}


/* Contact information getting organized better */
.contactlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 300px 0px 300px;
    color: black;
}

.contactlist li {
    text-decoration: underline;
    text-decoration-thickness: 10px;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    color: black;
    padding-top: 50px;
    width: 100%;
} 


/* Adding some after effects, so the user knows the page is responding */
nav li:hover {
    font-size: larger;
}

.work img:hover {
    -webkit-filter: brightness(70%);
}

.applicationstag .image:hover {
    -webkit-filter: brightness(70%);
}

#muvdrepository p:hover {
    font-size: 40px;
}

.applicationstag .github p:hover {
    font-size: larger;
}


.contacts a:hover {
    font-size: larger;
}

/* Edits, so that the page can look clean on different devices */
@media screen and (max-width: 992px) {
    header, h1, main, body, section, .headimage, nav ul, nav li, div, footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .profileimage {
        margin: auto;
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        block-size: min-content;
    }

    .applicationstag {
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        block-size: min-content;
    }

    .products {
        flex: 4;
        display: flex;
        flex-wrap: column;
        justify-content: space-evenly;
        margin-left: 310px;
    }

    .me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    section .me {
        margin-left: 0px;
    }

    section .aboutmep {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    header, h1, main, body, section, .headimage, nav ul, nav li, div, footer  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        }

    .applicationstag {
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        block-size: min-content;
    }

    .products {
        flex: 4;
        display: flex;
        flex-wrap: column;
        justify-content: space-evenly;
        margin-left: 0px;
    }
    
    .work p {
        text-align: center;
        font-size: 50px;
        margin-top: -50px;
        color: white;
    }

    .work {
        padding-bottom: 20px;
    }

    .contactlist {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
        color: black;
    }

    section {
        margin: auto;
    }

    .image, .applicationstag, .profileimage {
        margin: auto;
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        block-size: min-content;
    }
}